@import '_variables'
body,html
  padding: 0
  margin: 0
#bodyImg
  background: url(../img/hero.jpg)
  background-attachment: fixed
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  width: 100%
  height: auto
  position: fixed
.uk-flex-center
  text-align: center
.nav__booking
  background: $material__white !important
  box-shadow: $box__shadow
.nav__custom
  box-shadow: $box__shadow
  background: rgba(0,0,0,.6) !important
  ul
    li
      a
        color: $material__white !important
.hero__wrapper
    background: rgba(0,0,0,.7)
    width: 100%
    height: 100vh !important
    
.btn__flat,.btn__nav
  border: 1px solid $material__gold !important
.btn__flat
  padding: 6px 15px !important
.btn__nav
  overflow: hidden !important
  border: 2px solid $material__gold !important
  color: $material__white !important
.container 
  margin: 12em auto !important
  text-align: center
  #typed
    font-size: 40px
.typed-cursor
  font-size: 40px


.btn__nav:hover,.btn__flat:hover
  background: $material__gold !important
  color: $material__white !important
  border: 0
.typed__wrapper
  padding-bottom: 4em
.uk-modal-dialog
  background: #000 !important
#search__section
  position: relative
  width: 100%
  height: 100%
  background: #C9D6FF
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF)
  background: linear-gradient(to right, #E2E2E2, #C9D6FF)
.searchbar__wrapper
    position: relative
    padding-top: 5em
.card__search
  position: relative !important
  left: 0
  right: 0
  margin: 0 auto
  width: 70%
.card__user
  background: $material__black !important
  button
    border-radius: 45px !important
    background: transparent !important
    border: 1px solid $material__green  !important
    transition: all 500ms ease-in
    &:hover
      background: $material__green !important
      color: $material__white
      border: 0
    
      
.student__info
  margin: 5em auto !important
.uk-background-cover
  background: #C9D6FF
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF)
  background: linear-gradient(to right, #E2E2E2, #C9D6FF)
.avatar__wrapper
  margin: 5em auto
.user__data
  #details__text
    font-weight: 600
    font-size: 18px
    letter-spacing: .1em
    color: $material__green !important
#custom__divider
  width: 15%
  height: 10%
  padding: .06em
  border: 0
  background: $material__green
  margin: 1em auto
#offence__header
  padding-top: 8em
.card__hover
  transition: 500ms cubic-bezier(1, 0.7, 0.58, 1) !important
  background: #C9D6FF !important
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF) !important
  background: linear-gradient(to right, #E2E2E2, #C9D6FF) !important
  background-position: 30vh!important
  &:hover
    transition: 900ms cubic-bezier(1, 0.7, 0.58, 1) !important
    background: $material__white !important
    background-position: 100% !important

#details__text
  color: $material__green

/* ADMIN PANEL */
.users__section
  margin: 10em auto
.admin__header
  span
    font-weight: 300 !important
#icon__success
  color: $material__green
#icon__danger
  color: $material__red
.container__fluid
  padding: 0 3em !important
  margin-top: 2em !important
.avatar
  margin: 1em !important
.lmu__btn__delete
  background: $material__red !important
  color: $material__white !important
.lmu__btn__success
  background: $material__green !important
  color: $material__white !important
.new__section
  margin: 5em auto
.uk-width-large
  width: 550px !important
.card__avatar
  margin: .5em 0 1em 0
.uk-margin
  input:focus
    border: 1px solid $material__green !important
.lmu__footer
  background: #171a1b !important
/* ADMIN PANEL */
@media (min-width: $breakpoint__mobile__iphone)
  .card__search
    width: 90%
